[submodule "third_party/sam-3d-body"]
	path = src/pose_estimation/third_party/sam-3d-body
	url = https://github.com/facebookresearch/sam-3d-body.git
[submodule "src/fusion/external/third_party/VideoPose3D"]
	path = src/fusion/external/third_party/VideoPose3D
	url = https://github.com/facebookresearch/VideoPose3D.git
[submodule "src/fusion/external/third_party/CanonPose"]
	path = src/fusion/external/third_party/CanonPose
	url = https://github.com/bastianwandt/CanonPose.git
[submodule "src/fusion/external/third_party/MHFormer"]
	path = src/fusion/external/third_party/MHFormer
	url = https://github.com/Vegetebird/MHFormer.git
[submodule "src/fusion/external/third_party/MDVPose"]
	path = src/fusion/external/third_party/MDVPose
	url = https://github.com/iGame-Lab/MDVPose.git
